/*Estilos css*/

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #04146c;
  --secundary-color: #0a2ff1;

  --font-Roboto: 'Roboto', sans-serif;
  --size-2em: 2em;
  --size-3em: 3em;

  --font-weight-regular: 400;
  --font-weight-black: 900;
}

* {
  margin:0 auto;
  padding: 0;
  box-sizing: border-box;

}

body {

  display: flex;
  flex-direction: column;
justify-content: center;
  height: max-content;
  background-color: rgb(245, 245, 245);
  align-items: center;


}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 30vh;
  background-image: url(../src/fondo\ \(1\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;

}
header > h1 {

  margin: 0 auto;
  background-color:#fff;
  padding:10px 5px; 
  border-radius: 10px;
  font-weight:var(--font-weight-black);
 font-family: var(--font-Roboto);
  font-size:var(--size-3em);
mix-blend-mode: screen;

}




/*=============================*/
main{
display: flex;
flex-direction: column;
  background-color: #0a2ff1;
  width: 100vw;
  height: max-content;
}

.container>h1,
.container>h2{
  color:#ffffff;
  margin:0;

}

.container{
  display: flex;
  flex-direction: column;
  left:100px;
  height: 70vh;
  margin:0;
 width:20vw;
  border: 1px solid black;



}
.card{
  height: 70vh;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}

.card>img{
height: 70vh;
width: 20vw;
border-radius: 3px;
transition: ease-in-out .5s;
}

.intro{
  height:69.9vh;
  width: 20vw;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left:-400px;
  background: rgb(27,27,27,.5);
  color:white;
  transition: ease-in-out .5s;


}

.intro>h1{
  margin:10px;
  font-size: 40px;
}

.intro>p{
margin: 20px;
visibility: hidden;
opacity: 0;
transition: ease-in-out .5s;
}

.card:hover{
  cursor: pointer;
}
.card:hover img{
  transform: scale(1.1) rotate(-3deg);
}

.card:hover + .intro {

    left:1px;
    background: orange;
  
}

.card:hover + .intro>p {

  opacity:1;
  visibility: visible;

}
