/*Estilos css*/

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
  --primary-color: #04146c;
  --secundary-color: #0a2ff1;

  --font-primary: "Mulish", sans-serif;

  --size-28pt: 37px;
  --size-16pt: 22px;
  --size-14pt: 20px;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}